extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Teli Hernandez

        p Full Stack JavaScript Developer

        .about-bio

          p Once upon a time I aspired to become an accountant, so I got my degree, did an internship, and took extra classes to qualify to sit for the certified public accountant exam. Through this process of studying for the exam I realized one crucial factor, I was not passionate about accounting. I continued to work as an insurance agent while I did some soul searching. A year later I became friends with a software engineer who was passionate about his job and became my cheerleader to pursue a career with endless possibilities to learn new technologies. Once I started coding I felt that this career was right for me and I pursued a web development bootcamp with LaunchCode in Saint Louis, MO. I am currently a student in Treehouse's Web Development bootcamp and a software engineer apprentice for Intuit.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Terminal
          li C#
          

        h6 Contact Info

        ul
          li 760-440-6022
          li 7telita@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/teli-hernandez/') LinkedIn
        a.btn-link(href='https://github.com/Teli75') GitHub
        a.btn-link(href='https://twitter.com/home') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back