extends layout.pug

block content
  section#content
  .header This is my header 
  .sidebar
      .sidebar-info-box
        h1 Sidebar
        p Sidebar paragraph
  .portfolio-intro
    h1 portfolio intro h1
  .projects-box
    .grid
      each project in projects
        .box
          h1= project.project_name
          .cell
            a(href=`/projects/${project.id}`)
            img(src=`${project.image_urls}`)


