extends layout.pug

block content
  article.portfolio-intro

    h1 Hello potential Employers

    p These are all the treehouse projects that I have been working on these past few weeks


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
      

        .cell
          a(href=`/project/${project.id}`, .hover-effect)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Image of my ${project.project_name}`)
            h5=`${project.project_name}`




