extends layout.pug

block content
  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Hello potential Employers

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p These are all the treehouse projects that I have been working on these past few weeks


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
      

        .cell
          a(href=`/project/${project.id}`, .hover-effect)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Image of my ${project.project_name}`)
            h5=`${project.project_name}`




