extends layout.pug

block content
  section#content
    h2 Hey Prospective Employer 
    p These are my projects 

      each project in projects
        h1= project.project_name
        
        a(href=`/projects/${project.id}`)

        img(src=`${project.image_urls[0]}`)


