doctype html
html(lang="en")
  head
    title Landing Page
    link(rel='stylesheet', href='/static/css/styles.css')
    link(rel='stylesheet', href='/static/css/normalize.css')
  body
      block content
        .sidebar
          .sidebar-info-box
            h1 Sidebar
            p Sidebar paragraph

        