extends layout 

block content 
    section#content 
      a(href='/') ← Back to projects
        h1= project.project_name

        img(src=`${project.image_url}` width='320' height='240')

        p= project.description